/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}

header {
	width: 100%;
	padding: 30px 0;
	display: flex;
  	justify-content: space-evenly;
}

header nav, header div {
	justify-content: center;
}

header nav {
	width: 84%;
	display: flex;
	justify-content: flex-start;
}

header div {
	display: flex;
  	justify-content: flex-end;
}

header nav a {
	margin-right: 8%;
	text-decoration: none;
	display: flex;
	justify-content: flex-start;
	justify-content: space-around;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.header {
	width: 100%;
	padding: 20px 0;
  	display: flex;
  	justify-content: flex-start;
}

.iod {
	text-align: center;
  	margin-bottom: 10px;
	font-size: 70px;
	display: flex;
}

.header div h1 { 
	font-size: 5em;
}

.header div {
	width: 15%;
}

.header div .button {
	display: flex;
	justify-content: center;
}

.button {
	width: 170px;
  	margin: 20px 0px 0px 68px;
	padding: 10px;
	border: 1px solid black;
  	border-radius: 4px;
  	font-size: 15px;
  	background: white;
}

.pic {
	margin-left: 450px;
	display: flex;
	justify-items: flex-end;
}

.main-content section {
	display: flex;
	justify-content: space-between;
}

section.top div {
	width: 100%;
	margin: 40px 0;
}

.features {
	margin: 30px 0;
}

.middle-img {
	width: 100%;
	height: auto;
	margin: 30px 0;
}

section.bottom div {
	width: 100%;
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;
}

h3 {
	width: 60px;
	height: 20px;
	padding: 3px;
	margin: 20px 0 0 10px;
}

address {
	width: 150px;
	height: 70px;
	padding: 10px;
	box-sizing: border-box;
}

.phone, .email {
	width: 150px;
	height: 20px;
	padding: 5px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.copyright {
	margin-bottom: 30px;
	text-align: center;
}

/* media queries for tablet view - max-width: 800px */ 

@media(max-width: 800px) {
	header nav {
		justify-content: center;
	}
}

@media(max-width: 800px) {
  header div {
	display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}

@media(max-width: 800px) {
  header nav a {
    justify-content: space-between;
  }
}

@media( max-width: 800px) { 
	header {
    	display: flex;
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 10px;
		margin-bottom: 30px;
    	width: 100%;
	}
}

@media(max-width: 800px) {
  section.container {
    display: flex;
	justify-content: center;
  }
}

@media(max-width: 800px) {
  section.header .pic {
    display: none;
  }
}

@media(max-width: 800px) {
  section.header {
    display: flex;
    justify-content: center;
	justify-content: space-evenly;
  }
}

/* media queries for mobile view - max-width: 500px */

@media(max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;  
  }
}

@media(max-width: 500px) {
  header nav a {
    justify-content: center;
    border-bottom: 1px solid gray;
    padding: 15px;
    width: 100%;
  }
}

@media(max-width: 500px) {
  section.header {
    width: 100%;
    display: flex;
	justify-content: space-around;
  }
}

@media(max-width: 500px) {
  section.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 500px) {
  section.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
  }
}

@media(max-width: 500px) {
  section.bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}